@import 'nord.css';

html * {
  box-sizing: border-box;
}

body {
  font-family: "Catamaran";
  font-size: 120%;
  color: var(--nord0);
  background: var(--nord4);

  max-width: 1900px;
  margin: auto;
}

header {
  display: flex;
  align-items: flex-end;
  padding: 0 1.5em;
}

header > mosic-player {
  margin-left: auto;
  width: 60%;
}

h1 {
  color: var(--nord0);
  margin-bottom: 0;
  /* text-align: center; */
}

h1 > a {
  text-decoration: none;
  color: inherit;
}

h1 img {
  vertical-align: bottom;
  max-width: 48px;
}

h3 {
  color: var(--nord9);
  margin-bottom: .5em;
}

.group-events,
[data-mosic-link] {
  cursor: pointer;
}
.group-events > *,
[data-mosic-link] > * {
  pointer-events: none;
}

.icon {
  --size: 1em;
  --color: var(--nord0);
  display: inline-block;
  width: var(--size);
  height: var(--size);
  stroke-width: 0;
  fill: var(--color);
  vertical-align: middle;
}

.icon-big {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-big svg {
  --size: 64px;
  --color: var(--nord1);
}

.icon-big:hover {
  color: var(--nord3);
}

.side-to-side {
  display: flex;
  justify-content: space-between;
}

.btn__ghost {
  color: var(--nord1);
  background: transparent;
  border: 2px solid;
  padding: .5em;
  text-decoration: none;
  display: inline-block;
  width: auto;
  text-align: center;
  font-weight: bold;
}

/* MAIN LAYOUT */

.with-player {
  display: grid;
  grid-template-rows: auto 1fr auto;
  max-height: 100vh;
  overflow: hidden;
}
.player__main-actions--mini {
  grid-row-end: 4;
  margin-bottom: 0;
}
.with-player .playlist {
  overflow: auto;
}



/* ALBUM GRID LIST */
.album-grid-list {
  width: 95%;
  /* max-width: 400px; */
  margin: 1em auto;
  margin-top: 0;
  padding: 1em;
  /* background: var(--nord6); */
  border-radius: 6px;
  display: grid;
  grid-row-gap: 10px;
}
.album-grid-list__row {
  grid-column: 1/-1;
}

@media(min-width:650px) {
  .album-grid-list {
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    max-width: 100%;
  }
}

@media(min-width:1000px) {
  .album-grid-list {
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 100%;
  }
}

@media(min-width:1500px) {
  .album-grid-list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    max-width: 100%;
  }
}

@media(min-width:1900px) {
  .album-grid-list {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    max-width: 100%;
  }
}
/* END ALBUM GRID LIST */

/* ALBUM */

.album-view {
  width: 90%;
  margin: 1em auto;
  max-width: 800px;
}

.album-info {
  padding: 1em;
  border-radius: 5px;
  background-color: var(--nord5);
  display: grid;
  grid-template-columns: 80px 1fr;
  grid-column-gap: 10px;
}
.album-info__cover {
  grid-row: span 2;
}
.album-info img {
  max-width: 100%;
  border-radius: 3px;
  /* box-shadow: 1px 1px 3px var(--nord3); */
  /* box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); */
  display: block;
}

.album-info p {
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.album-info__name {
  font-size: 1.2em;
  grid-column: 2;
  align-self: self-end;
}
.album-info__group {
  color: var(--nord3);  
  grid-column: 2;
}
/* END ALBUM */

/* SONG LIST */
.song-list__item {
  display: grid;
  grid-template-columns: 1fr minmax(1px, max-content);
  margin-bottom: 1em;
  align-items: center;
  padding-top: .3em;
  padding: .8em .3em;
}

song-item {
  display: block;
}
song-item:nth-of-type(2n) {
  background: var(--nord5);
}

.song-list__item .icon {
}

.song-list__item p {
  margin-top: 0;
  margin-bottom: 0;
}

.song-list__item__options {
  margin-left: auto;
  cursor: pointer;
}

.song-list__item__options > * {
  pointer-events: none;
}


.song-list__item--album {
  margin-bottom: 0;
}

.album,
.song-options,
.song-options--vertical {
  grid-column: span 2;
  width: 100%;
  border-top: 1px dashed var(--nord3);
  padding: 1em;
  padding-bottom: .2em;
  margin-top: .5em;
  display: inline-flex;
  flex-direction: column;
  gap: 20px;
}
.album-options {
  border-top: none;
}
.song-options--vertical {
  border-top: none;
  gap: 0;
}

@media (min-width: 720px) {
  .song-options {
    flex-direction: row;
  }

  .song-options .end-list {
    margin-left: auto;
  }
}

.song-options > * {
  cursor: pointer;
}

/* END SONG LIST */

/* PLAYLIST LIST */

.playlist-list {
  display: flex;
  flex-direction: column;
  gap: 0;
}

.playlist-list .playlist-item {
  padding: .5em;
  display: flex;
}

.playlist-list .playlist-item:nth-of-type(2n) {
  background: var(--nord5);
}

.playlist-list .playlist-item .playlist-view {
  margin-left: auto;
}

.new-playlist {
  margin-top: 1em;
}
/* END PLAYLIST LIST */


/* PLAYLIST */

/* filter box */
.big-box {
  padding: .5em;
  font-size: 120%;
  width: 90%;
  border: 1px solid transparent;
  border-radius: 5px;
  color: var(--nord3);
  background: var(--nord5);
  margin: 1em 5%;
}

.playlist {
  width: 100%;
  max-width: 400px;
  margin: 1em auto;
  margin-top: 0;
  padding: 1em;
  /* background: var(--nord6); */
  border-radius: 6px;
  display: grid;
}

@media(min-width:700px) {
  .playlist {
    grid-template-columns: 1fr 1fr;
    max-width: 100%;
  }

}

.playlist__current {
  margin-bottom: 1em;
  padding-bottom: 1em;
  display: grid;
  grid-template-columns: 20% 1fr;
  grid-column-gap: 10px;

  /* border-bottom: 1px solid var(--nord3); */
}
.playlist__current img {
  max-width: 100%;
  border-radius: 3px;
  /* box-shadow: 1px 1px 3px var(--nord3); */
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.playlist__current p {
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.playlist__current__cover {
  grid-row: span 2;
}
.playlist__current__name {
  font-size: 1.2em;
  grid-column: 2;
  align-self: self-end;
}
.playlist__current__group {
  color: var(--nord3);  
  grid-column: 2;
}


.playlist__list-item {
  display: flex;
  margin-bottom: 1em;
}

.playlist__list-item img {
  max-width: 100%;
  border-radius: 3px;
  /* box-shadow: 1px 1px 3px var(--nord3); */
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.playlist__list-item__cover {
  width: 15%;
  margin-right: 1em;
}

.playlist__list-item__options {
  margin-left: auto;
}

.playlist__list-item--album .playlist__list-item__options,
.playlist__list-item--album .playlist__list-item__name {
  margin-bottom: 0;
}

/* END PLAYLIST */

/* MINI-PLAYER */
.mini-player {
  display: grid;
  grid-template-columns: 1fr 40px;
  font-size: 85%;
  padding: .3em;
  border-radius: 4px; 
  opacity: .6;
  column-gap: 10px;
}
.mini-player svg {
  --size: 18px;
}
.mini-player p {
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.mini-player__controls {
  grid-row: 1/3;
  grid-column: 2;
  align-self: center;
  justify-self: center;
}
.mini-player__artist,
.mini-player__song {
  grid-column: 1;
  text-align: right;
}
.mini-player__artist {
  color: var(--nord3);
}
/* END MINI-PLAYER */
